<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addArchives</title>
    <!--Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!--Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id = "addArchives">
    <form name="addArchives">
        <div class="form-group">
            <label for="Number">编号:</label>
            <input type="text"  name="Number" id="Number">
        </div>
        <div class="form-group">
            <label for="CarNumber">车牌号:</label>
            <input type="text" name="CarNumber" id="CarNumber">
        </div>
        <div class="form-group">
            <label for="CarName">车辆名称:</label>
            <input type="text" name="CarName" id="CarName">
        </div>
        <div class="form-group">
            <label for="CarModel">型号:</label>
            <input type="text" name="CarModel" id = "CarModel">
        </div>
        <div class="form-group">
            <label for="CarBrand">品牌:</label>
            <input type="text" name="CarBrand" id = "CarBrand">
        </div>
        <div class="form-group">
            <label for="PurchaseDate">采购时间:</label>
            <input type="text" name="PurchaseDate" id = "PurchaseDate">
        </div>
        <div class="form-group">
            <label for="CarPrice">采购价格:</label>
            <input type="text" name="CarPrice" id = "CarPrice">
        </div>
    </form>
    <button id = "add">增加档案信息</button>
    <button id = "return">返回</button>
    <script >
            //字符串判空方法
            function isBlank(str){
                if(str == "" || str == null || str == undefined){
                    return true;
                }else {
                    return false;
                }
            }
            //添加用户js响应事件
            $("#add").click(function(){
                var Number = document.forms["addArchives"]["Number"].value;
                var CarNumber = document.forms["addArchives"]["CarNumber"].value;
                var CarName = document.forms["addArchives"]["CarName"].value;
                var CarModel = document.forms["addArchives"]["CarModel"].value;
                var CarBrand = document.forms["addArchives"]["CarBrand"].value;
                var PurchaseDate = document.forms["addArchives"]["PurchaseDate"].value;
                var CarPrice = document.forms["addArchives"]["CarPrice"].value;
                //判断是否有未填项
                if(isBlank(Number) || isBlank(CarNumber) || isBlank(CarName)|| isBlank(CarModel)
                    || isBlank(CarBrand)|| isBlank(PurchaseDate)|| isBlank(CarPrice)){
                    window.confirm("请完善信息");
                }else {
                    var param = {
                        "Number": Number,
                        "CarNumber": CarNumber,
                        "CarName": CarName,
                        "CarModel": CarModel,
                        "CarBrand": CarBrand,
                        "PurchaseDate": PurchaseDate,
                        "CarPrice": CarPrice
                    };
                    $.ajax({
                        url:"/addArchives", //请求url
                        data: param,    //请求参数
                        async: true,    //是否异步
                        success: function f(result) {
                            window.confirm(result.msg); //新增成功提示框
                        }
                    });
                }
            });
            $("#return").click(function(){
                location.href = "archives";
            });    //重新加载界面，同步数据库信息
        </script>
</div>
</body>
</html>